@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background: linear-gradient(58deg, #020844, #041c6e);
    background: linear-gradient(#0f4183,#05121d, #17369b );
    color: white;
}
i:hover{
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 50%;

}
main{
    background: linear-gradient(rgb(8 33 213 / 65%),rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#skills>div>div {
    padding: 5px;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    align-items: center;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
    margin: auto;
    border-radius: 10px;
    transition: 0.5s;
}
 main h5,main h4,main h3{
    text-shadow: 4px 4px #0818aa; 
}

.contrib-number {
    color: #fff;
}
#skills > div > div:hover {
    background: white;
    cursor: pointer;
}
#tool > div > div:hover {
    background: white;
    cursor: pointer;
}
.calendar{
    margin: 18px auto;
    width: 97%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
i{
    cursor: pointer;
}
#projects-a{
    background-color: rgb(0, 0, 128);
    color: white;
    padding: 5px 61px;
    font-size: 19px;
    border-radius: 29px;
    letter-spacing: 4px;
    cursor: pointer;
}
i.fa-brands.fa-githubi,i.fa-solid.fa-globe {
    cursor: pointer;
}
.tech-stack {
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
#p-desc {
    text-align: justify;
}
#skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}



@media (min-width:781px) {

    #stats {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 31px;
        gap: 55px;
    }

    #hero-section{
        grid-template-columns: 1fr 0.7fr;

    }
    #about-me{
        grid-template-columns: 1fr 1.3fr;

    }
    #about-me{
        width: 90%;
        display: grid;
        margin: auto;
        margin-top: 4rem;
        align-items: center;
    }
    #main-projects{
        width: 79%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        gap: 22px;
        margin-top: 62px;
        margin-bottom: 69px;
    }
    #skills>div>div {
        padding: 5px;
        display: flex;
        justify-content: center;
        height: 153px;
        width: 150px;
        align-items: center;
        box-shadow: rgb(255, 255, 255) 0px 3px 8px;
        margin: auto;
        border-radius: 10px;
        transition: 0.5s;
    }
   
    
}
#tool>div{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4,1fr) ;
    align-items: center;
}
/* Scroll bar scc */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #dddddd;
}
::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.514);
    border-radius: 5px;
}
/* Scroll bar css end */
a{
    text-decoration: none;
    font-size: 1rem;
}
.links>ul>li>a:hover{
    border: 2px solid;
    border-width: 0px 0px 2px 0px;
    
}

li{
    list-style: none;
}
header{
    padding: 0rem 1.5rem 0 1rem;
    height: 50px;
    background-color: #000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: rgb(255 255 255 / 47%) 0px 3px 8px;

    
}

.links ul{
    display: flex;
    gap: 40px;
}
.links ul > li>a{
    color: white;
    font-size: 18px;
}

.mob-icon, #mob-links{
    display: none;
}

/* Hero Section start */

#hero-icons>i {
    font-size: 38px;
    margin: 26px 12px 0px 19px;
    cursor: pointer;
}
#hero-icons>button {
    padding: 7px 29px;
   cursor: pointer;
}
#hero-section{
    display: grid;
    width: auto;
    align-items: center;
    height: 90vh;
}
#hero-image {
    width: 100%;
}
/* #hero-section>div>h3{
    font-size: 12px;
} */
#hero-text {
    width: 83%;
    margin: auto;
}
#hero-text h3 {
    font-size: 35px;
    line-height: 59px;
}
#hero-text h4 {
    font-size: 58px;
    line-height: 5rem;
}
#hero-text h5 {
    font-size: 40px;
    line-height: 5rem;
}
/* Header css ended */

/* About me  starts */

.title {
    margin: 25px;
    text-align: center;
    font-size: 43px;
    font-weight: bold;
}
.divider {
    width: 4%;
    margin: auto;
    height: 2px;
    background: #ffffff;
}
#about {
    background: #80808005;
    padding-top: 1px;
}

#about-img{
    width: 60%;
}
#about-img>img{
    border-radius: 50%;
    border: 3px solid;
}
#about-me>div:nth-child(2)>p{
    font-size: 30px;
}
/* about section end */
/* skilss start */
.skills-img {
    width: 100%;
}
#skills img{
   width: 90%;
}
#skills{
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding: 15px;
     gap: 20px;
}
#skills h4{
    margin-top: 15px;
}

/* Tools */

#tool>div>div{
    padding: 2px;
    display: flex;
    justify-content: center;
    height: 113px;
    width: 100px;
    align-items: center;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
    margin: auto;
    margin-bottom: 19px;
    
}
#tool>div>div>img{
    padding: 7px;
}
#tool{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    row-gap: 20px;
}


/* Project */
.p-img{
    width: 100%;
}
.p1{
    border: 1px solid white;
    padding: 32px;
    box-shadow: rgb(255 255 255 / 52%) 0px 0px 20px, rgb(255 255 255 / 24%) 0px 3px 2px;
}

#icons {
    display: flex;
    justify-content: center;
    margin: 19px 19px;
}
#hero-icons>button {
    position: relative;
    top: -8px;
    left: 20px;
}
h3.project-title {
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    margin: 20px 0px;
}
#projects-b{
    background: repeating-linear-gradient(
45deg, #1000ff, #002dcf 100px);
    color: white;
    padding: 5px 61px;
    font-size: 19px;
    letter-spacing: 4px;
    border-radius: 10px;
}
#projects-b:hover{
    background-color:transparent;
    border: 2px solid white;
}
#icons>:nth-child(1){
    font-size: 40px;
}

/* contact */

#contact-1 {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
#info {
    width: 100%;
    background: #8080800d;
    padding: 21px;
    margin: auto;
    text-align: center;
}

/* footer */

footer {
    width: 100%;
    background-color: #000080db;
    height: 50px;
    display: flex;
    align-items: center;
}
footer>div {
    margin: auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Mobile CSS  */

@media (max-width: 640px){

    #stats {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 19px;
    }
    #mob-links {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        display: flex;
        width: 100vw;
        justify-content: center;
        background: darkblue;
    }
    .links,#mob-links{
        display: none;
    }
    .mob-icon{
        display: block;
    }
    .mob-icon>i{
        font-size:20px;
    }
    #nav-menu>h2{
        font-size: 22px;
    }

    #mob-links ul >li{
        line-height: 100px;
    }
    #mob-links ul >li>a{
        font-size: 25px;
        color: white;
        font-weight: bold;
    }
    #menu-close {
        position: absolute;
        right: 50px;
        top: 26px;
        font-size: 35px;
    }
    #hero-section{
        grid-template-rows: 1fr 0.7fr;
        display: grid;
        width: auto;
        align-items: center;
        height: 48rem;
    }
    #about-me {
        width: 90%;
        display: grid;
        margin: auto;
        gap: 57px;
        text-align: center;
         margin-top: 4rem;
    }
    #about-img{
        margin: auto;
    }
    #main-projects{
        width: 83%;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin: auto;
        gap: 30px;
        margin-top: 62px;
        margin-bottom: 69px;
    }
    
    .p1 {
        border: 1px solid white;
        padding: 17px;
        box-shadow: rgb(255 255 255 / 52%) 0px 0px 20px, rgb(255 255 255 / 24%) 0px 3px 2px;
    }
    #skills{
        width: 75%;
        margin: auto;
        grid-template-columns: repeat(2,1fr);
    }
    #hero-text h4 {
        font-size: 37px;
        line-height: 5rem;
    }
    #hero-text h5 {
        font-size: 19px;
        line-height: 5rem;
    }
    #about-me>div:nth-child(2)>p {
        font-size: 19px;
    }
    #tool>div{
        display: grid;
        width: 100%;
        grid-template-columns:repeat(2,1fr) ;
        align-items: center;
    }


    
}

/* Tablet Css */
@media ((min-width:641px) and ( max-width: 826px)){
    
   
    #nav-menu>h2{
        font-size: 15px;
    }
    .links ul{
        gap: 20px;
    }

    #main-projects{
        width: 83%;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin: auto;
        gap: 62px;
        margin-top: 62px;
        margin-bottom: 69px;
    }
    
    .p1 {
        border: 1px solid white;
        padding: 17px;
        box-shadow: rgb(255 255 255 / 52%) 0px 0px 20px, rgb(255 255 255 / 24%) 0px 3px 2px;
    }

    /* about me  */
    #about-me {
        width: 90%;
        display: grid;
        margin: auto;
        gap: 57px;
        text-align: center;
         margin-top: 4rem;
    }
    #about-img{
        margin: auto;
    }
    #hero-section {
        margin-bottom: 17rem;
    }



    

    
}


